<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="redis.clients.jedis.JedisPool" id="jedisPool">
        <constructor-arg ref="jedisPoolConfig" />
        <constructor-arg value="172.16.92.218" />
        <constructor-arg value="6379" />
        <constructor-arg value="10000" /> <!-- timeout -->
        <constructor-arg value="123456"/> <!-- password -->
    </bean>

    <bean class="redis.clients.jedis.JedisPoolConfig" id="jedisPoolConfig" />
</beans>